<!DOCTYPE html>
<html>
  <head>
    <title>draw-canvas-fong</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/main.js"></script>
  </head>
  <body>
    <textarea id="content" style="width:200px;height:100px;"></textarea>
    <br>
    <input type="button" onclick="drawCanvas()" value="生成"/>
    <div id="group"></div>
  </body>
</html>
